<%= form_with url: '/admin' do |f| %>
    <p>
    <%= f.label(:name, "商品名") %>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :price, "値段" %>
    <%= f.text_field :price %>
    </p>
    <p>
    <%= f.label :sku, "型番" %>
    <%= f.text_field :sku %>
    </p>
    <p>
    <%= f.label :description, "説明" %>
    <%= f.text_area :description %>
    </p>
    <%= f.file_field :image %>
    
    <%= f.submit "作成" %>

<% end %>

<%= link_to "戻る", '/admin' %>